server_name: "4292190d21a00e7cde508b9d7365ea7a9e3cfa18-8008.dstack-pha-prod7.phala.network"
pid_file: /data/homeserver.pid
signing_key_path: /data/signing.key
listeners:
  - port: 8009
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: synapse
    password: synapse
    database: synapse
    host: postgres
    cp_min: 5
    cp_max: 10
log_config: "/conf/log.config"
media_store_path: /data/media_store
registration_shared_secret: "dstack-matrix-secret"
enable_registration: true
enable_registration_without_verification: true
registration_requires_token: true
suppress_key_server_warning: true
serve_server_wellknown: true
report_stats: false
trusted_key_servers: []
public_baseurl: "https://4292190d21a00e7cde508b9d7365ea7a9e3cfa18-8008.dstack-pha-prod7.phala.network/"
oidc_providers:
  - idp_id: github
    idp_name: "GitHub"
    idp_brand: "github"
    discover: false
    issuer: "https://github.com/"
    client_id: "Ov23liJJzPVzxe4e0TSa"
    client_secret: "__GITHUB_OAUTH_SECRET__"
    authorization_endpoint: "https://github.com/login/oauth/authorize"
    token_endpoint: "https://github.com/login/oauth/access_token"
    userinfo_endpoint: "https://api.github.com/user"
    scopes: ["read:user"]
    user_mapping_provider:
      config:
        subject_claim: "id"
        localpart_template: "{{ user.login }}"
        display_name_template: "{{ user.name or user.login }}"
